{% extends "layout.html" %}
<!--
 |
-->
{% block title %}
Claims Made
{% endblock %}
{% block navTitle %}Claims Made{% endblock %}
<!--
 |
-->
{% block firstblock %}
<!--
 |
-->
<!--!     Fluid row to hold the carousel and its card     -->
<div class="row container-fluid mt-5 ml-4 p-auto" id="claimsCarousel-Row">
    <!--!     Card for holding the carousel     -->
    <div class="card text-secondary col-sm-11 border border-secondary" data-aos="zoom-in" data-aos-duration="750"
        style="background-color: rgb(46, 54, 59)">
        <!--!     Carousel     -->
        <div id="claims-Carousel" class="carousel slide" data-ride="carousel" data-interval="false">
            <!--
             |
            -->
            <!--!     Current slide indication icons (horizontal lines on the bottom)     -->
            <ol class="carousel-indicators">
                <li id="carousel-IndicatorID-0" data-target="#claims-Carousel" data-slide-to="0" class="active"></li>
                <li id="carousel-IndicatorID-1" data-target="#claims-Carousel" data-slide-to="1"></li>
                <li id="carousel-IndicatorID-2" data-target="#claims-Carousel" data-slide-to="2"></li>
                <li id="carousel-IndicatorID-3" data-target="#claims-Carousel" data-slide-to="3"></li>
                <li id="carousel-IndicatorID-4" data-target="#claims-Carousel" data-slide-to="4"></li>
            </ol>
            <!--
             |
            -->
            <!--!     All 5 carousel slide images     -->
            <div class="carousel-inner py-3">
                <div class="carousel-item active" id="carousel-SlideImage-0">
                    <img src="/static/carousels/visual_aids/__general_h.d.r./medium/hdr_CeAf_3_16-9r.jpg"
                        class="d-block w-100" alt="">
                </div>
                <div class="carousel-item" id="carousel-SlideImage-1">
                    <img src="/static/carousels/infographics/ImpactedPopulation_16-9r.png" class="d-block w-100"
                        alt="Impacted Population Infographic/VisualAid Combination">
                </div>
                <div class="carousel-item" id="carousel-SlideImage-2">
                    <img src="/static/carousels/infographics/ImpactOnHealthWomenKids_16-9r.png" class="d-block w-100"
                        alt="Impacted Health and Socio-Econmic Infographic">
                </div>
                <div class="carousel-item" id="carousel-SlideImage-3">
                    <img src="/static/carousels/visual_aids/__general_h.d.r./medium/hdr_CeAf_4_16-9r.jpg"
                        class="d-block w-100"
                        alt="Impacted Women Beginning Walk to Water Source Toting Buckets VisualAid">
                </div>
                <div class="carousel-item" id="carousel-SlideImage-4">
                    <img src="/static/carousels/infographics/ImpactOnKids_0_16-9r.png" class="d-block w-100"
                        alt="Impacted Education of Children Infographic">
                </div>
            </div>
            <!--!     Carousel's previous slide nav arrow     -->
            <a class="carousel-control-prev" id="arrow-Prev" href="#claims-Carousel" onclick="verdictExecute('prev')"
                role=" button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <!--!     Carousel's next slide nav arrow     -->
            <a class="carousel-control-next" id="arrow-Next" href="#claims-Carousel" onclick="verdictExecute('next')"
                role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
<!--
 |
-->
<!--!     Defining the container's size     -->
<div class="row container-fluid mt-5 ml-4 p-auto" id="verdicts-row">
    <div class="card col-sm-9 mx-auto bg-transparent" data-aos="zoom-in" data-aos-duration="2500"
        style="text-align: center;">
        <!--!     The new Verdict clickers     -->
        <!--!     (0)     -->
        <div class="container-fluid" id="carousel-SlideVerdict-0" style="position: absolute;">
            <div class="card" data-aos="zoom-out" data-aos-duration="1800">
                <div class="rounded-corner border border-secondary" id="c-SV-0-Parent"
                    style="background-color: rgb(46, 54, 59);">
                    <a class="" id="c-SV-0" href="#" onclick="colorFill_0()">
                        <h6 class="text-light lead" style="opacity: .70; padding-top: 8px; letter-spacing: 1.45px;">
                            Charity:Water's Claims Made in Their Video.
                        </h6>
                    </a>
                </div>
            </div>
        </div>
        <!--!     Slide(1)     -->
        <div class="container-fluid" id="carousel-SlideVerdict-1" style="position: absolute;">
            <div class="card" data-aos="zoom-out" data-aos-duration="1800">
                <div class="rounded-corner border border-secondary" id="c-SV-1-Parent"
                    style="background-color: rgb(46, 54, 59);">
                    <a class="" id="c-SV-1" href="#" onclick="colorFill_1()">
                        <h6 class="text-light lead" style="opacity: .70; padding-top: 8px; letter-spacing: 1.45px;">
                            633 Million People in the World Live Without Clean Water.
                        </h6>
                    </a>
                </div>
            </div>
        </div>
        <!--!     Slide(2)     -->
        <div class="container-fluid" id="carousel-SlideVerdict-2" style="position: absolute;">
            <div class="card" data-aos="zoom-out" data-aos-duration="1800">
                <div class="rounded-corner border border-secondary" id="c-SV-2-Parent"
                    style="background-color: rgb(46, 54, 59);">
                    <a class="" id="c-SV-2" href="#" onclick="colorFill_2()">
                        <h6 class="text-light lead" style="opacity: .70; padding-top: 8px; letter-spacing: 1.45px;">
                            Diseases from Dirty Water Kill More People Every Year Than All Forms of Violence.
                        </h6>
                    </a>
                </div>
            </div>
        </div>
        <!--!     Slide(3)     -->
        <div class="container-fluid" id="carousel-SlideVerdict-3" style="position: absolute;">
            <div class="card" data-aos="zoom-out" data-aos-duration="1800">
                <div class="rounded-corner border border-secondary" id="c-SV-3-Parent"
                    style="background-color: rgb(46, 54, 59);">
                    <a class="" id="c-SV-3" href="#" onclick="colorFill_3()">
                        <h6 class="text-light lead" style="opacity: .70; padding-top: 8px; letter-spacing: 1.45px;">
                            The Earth Has Enough Available Water for Everyone in Need.
                        </h6>
                    </a>
                </div>
            </div>
        </div>
        <!--!     Slide(4)     -->
        <div class="container-fluid" id="carousel-SlideVerdict-4" style="position: absolute;">
            <div class="card" data-aos="zoom-out" data-aos-duration="1800">
                <div class="rounded-corner border border-secondary" id="c-SV-4-Parent"
                    style="background-color: rgb(46, 54, 59);">
                    <a class="" id="c-SV-4" href="#" onclick="colorFill_4()">
                        <h6 class="text-light lead" style="opacity: .70; padding-top: 8px; letter-spacing: 1.45px;">
                            Lack of Clean Water Access Directly Correlates to Lack of Education.
                        </h6>
                    </a>
                </div>
            </div>
        </div>
        <!--!     Slide(x): Hotfix for rendering the overlayed Verdicts in an okay looking way     -->
        <div class="container-fluid" id="carousel-SlideVerdict-x" style="position: absolute;">
            <div class="card" data-aos="zoom-out" data-aos-duration="1800">
                <div class="rounded-corner border border-secondary" id="c-SV-x-Parent"
                    style="background-color: rgb(46, 54, 59);">
                    <a class="" id="c-SV-x" href="#" onclick="colorFill_x()">
                        <h6 class="text-light lead" style="opacity: .70; padding-top: 8px; letter-spacing: 1.45px;">
                            This Is the Claim:Verdict Bar. [Click Me] for More Info!
                        </h6>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
 |
-->
{% endblock %}