{% extends "layout.html" %}

{% block title %}
Our Findings
{% endblock %}
{% block navTitle %}Our Findings{% endblock %}

{% block firstblock %}
<section id="main_content2">
    <div class= "container">
        <h2 data-aos = "fade-right">
            Countries in sub-Saharan Africa, Southern Asia and Eastern Asia have huge gap in accessibility of safe water. 
        </h2><br>
        <h2 data-aos = "fade-right">
            Also, lower the socio-economic class of the country, higher the proportion of people not having access to safe water.
        </h2><br>
        <h2 data-aos = "fade-right">
            In 2017, 5.3 billion people used safely managed services. An additional 1.4 billion used at least basic services. 20 206 million people used limited services, 435 million used unimproved sources, and 144 million still used 60 surface water.
        </h2><br>
        <h2 data-aos = "fade-right">
            In 2017, 117 countries had estimates for safely managed services, representing 38% of the global population.
        </h2><br><br>
        <h2 data-aos = "fade-right">
            An estimated 801,000 children younger than 5 years of age perish from diarrhea each year, mostly in developing countries. <br> This amounts to 11% of the 7.6 million deaths of children under the age of five and means that about 2,200 children are dying every day as a result of diarrheal diseases. -Centers for Disease Control and Prevention
        </h2><br>
        <h2 data-aos = "fade-right">
            Unsafe drinking water, inadequate availability of water for hygiene, and lack of access to sanitation together contribute to about 88% of deaths from diarrheal diseases. -Centers for Disease Control and Prevention
        </h2><br>
        <h2 data-aos = "fade-right">

        </h2><br>
        <h2 data-aos = "fade-right">

        </h2><br>
    </div>
</section>


{% endblock %}
