{% extends "layout.html" %} {% block firstblock %}
<section id="main">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <iframe
        data-aos="flip-left"
        title="vimeo-player"
        src="https://player.vimeo.com/video/140235935"
        width="1024"
        height="720"
        frameborder="0"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</section>

<section id="infoSection">
  <!-- Maybe add a tweet about water from WHO or another organization in this section using webscraping  -->
  <div class="container">
    <h1 data-aos="fade-right">
      In some places, it's normal to walk 4 hours a day to get water.
    </h1>
    <h1 data-aos="fade-left">
      Many in remote areas have to rely on small brooks running from the
      mountains and spend hours traveling to get water.
    </h1>
  </div>
</section>

<br />

<section id="chartSection">
  <div data-aos="zoom-in" id="myDiv"></div>
  <div id="countrySelector" class="container">
    <label for="country">Select a country</label>
    <select id="selCountry" onchange="filterPlot()">
      <option value="World" selected disabled hidden>World</option>
    </select>
  </div>
</section>

<section>
  <div data-aos="zoom-in" id="choropleth"></div>
  <div class="container">
      <label for="year">Select a year</label>
      <select id="yearSelector" onchange="year(this.value)">
        <option value="2015" selected disabled hidden>2015</option>
      </select>
    </div>

</section>

{% endblock %}
