.body {
    
}

.jumbotron {
    background-image: linear-gradient(rgb(42, 23, 110), rgb(38, 128, 180), rgb(255, 255, 255));
    margin: 0;
  }

.jumbotron iframe {
    width: 100%;
}

.container h1 {
  font-size: 36px;
  padding: 15px;
}
